<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <!--<h1 class="header center teal-text text-lighten-2">Boréal Parc</h1>-->
            <div class="row center logo-page-entreprise">
                <img src="/images/logo/{{ entreprise.logo }}" alt="Logo entreprise">
                <h5 class="header col s12 light titre-page-entreprise">{{ entreprise.companyName }}</h5>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="/images/boreal_back.png" alt="Centre boréal parc"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12">
            <a href="/" class="grey lighten-1 waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Retour</a>
        </div>
        {{#if entreprise.page.presentation}}
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="center card-title">Presentation</span>
                    <p>{{{ breaklines entreprise.page.presentation }}}</p>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
    <div class="row">
        {{#if entreprise.page.contact }}
        <div class="col s6">
            <div class="center card">
                <div class="card-content">
                    <span class="card-title">Contact</span>
                    {{#if entreprise.page.contact.facebook }}
                        <a href="{{ entreprise.page.contact.facebook }}"><img src="../images/FB_Logo__blue.png" alt="logo facebook"></a>
                    {{/if}}
                    {{#if entreprise.page.contact.twitter }}
                        <a href="{{ entreprise.page.contact.twitter }}"><img src="../images/Twitter_Logo_WhiteOnBlue.png" alt="logo twitter"></img></a>
                    {{/if}}
                    {{#if entreprise.page.contact.instagram }}
                        <a href="{{ entreprise.page.contact.instagram }}"><img src="../images/Instagram_Logo.png" alt="logo instagram"></img></a>
                    {{/if}}</br>
                    {{#if entreprise.page.contact.website }}
                        <a class="waves-effect waves-light btn-large" href="{{ entreprise.page.contact.website }}">Site internet</a>
                    {{/if}}
                    
                    {{#if entreprise.page.contact.telephone}}
                        <a class="waves-effect waves-light btn-large">Telephone : {{entreprise.page.contact.telephone}}</a>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/if}}
        {{#if entreprise.page.schedule}}
        <div class="col s6">
            <div class="center card">
                <div class="card-content">
                    <span class="card-title">Horaires</span>
                    {{ entreprise.page.schedule }}
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</div>
{{#if entreprise.rightIndicator }}
    {{#if entreprise.leftIndicator }}
    <div class="container">
        <div class="row">
        <div class="col s12 center">
            <h4>Carte Interactive</h4>
            <div class="cd-interest-wrapper">
            <img src="/images/map/borealmap.jpg" alt="Centre boréal parc">
            <ul>
                <li class="cd-single-point" style="top:{{ entreprise.rightIndicator }}%; left:{{ entreprise.leftIndicator }}%">
                    <a class="btn btn-floating pulse" href="#0"><i class="material-icons">info</i></a>
                    <div class="cd-more-info cd-top">
                    <h2>{{ entreprise.companyName }}</h2>
                    </div>
                </li>
            </ul>
            </div>
        </div>
        </div>
    </div>
    {{/if}}
{{/if}}
{{> page/footer}}
{{> script/full}}