<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <div class="row center logo-page-entreprise">
                <img src="/images/logo/{{ entreprise.logo }}" alt="Logo entreprise">
                <h5 class="header col s12 light titre-page-entreprise">{{ entreprise.companyName }}</h5>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="/images/boreal_back.png" alt="Centre boréal parc"></div>
</div>
<a href="/" class="hoverable waves-effect waves-light btn-large btn-floating hide-on-small-only" style="margin:4rem;margin-left:7rem;background:#91457e;position:absolute"><i class="material-icons left">arrow_back</i>Retour à la page d'accueil</a> {{#if entreprise.isAdherent}}
<div class="container">
    <div class="row">
        {{#if entreprise.page.presentation}}
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="center card-title entreprisePage">Presentation</span>
                    <p class="texte-entreprise-presentation">{{{ breaklines entreprise.page.presentation }}}</p>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
    <div class="row">{{#if entreprise.photo.image1}}
        <div class="col s12 m12">
            <div class="center card carousel-content">
                <div class="card-content">
                    <div class="carousel carousel-entreprise">
                        <a class="carousel-item carreau-item" href="#one"><img class="carousel-entreprise-item"src="/images/photo/{{ entreprise.photo.image1}}"></a>
                        <a class="carousel-item carreau-item" href="#two"><img class="carousel-entreprise-item" src="/images/photo/{{ entreprise.photo.image2 }}"></a>
                        <a class="carousel-item carreau-item" href="#three"><img class="carousel-entreprise-item" src="/images/photo/{{ entreprise.photo.image3 }}"></a>
                        <a class="carousel-item carreau-item" href="#four"><img class="carousel-entreprise-item" src="/images/photo/{{ entreprise.photo.image4 }}"></a>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}</div>
    <div class="row">
        {{#if entreprise.page.contact }}
        <div class="col s12 m6">
            <div class="center card">
                <div class="card-content">
                    <span class="card-title entreprisePage">Contact</span> {{#if entreprise.page.contact.website }}
                    <a target="_blank" class="btn-large btn-entreprise-contact" id="btn-website-entreprise" href="{{ entreprise.page.contact.website }}">
                        <div class="inner">Site internet</div>
                    </a> {{/if}} {{#if entreprise.page.contact.catalogue }}
                    <a target="_blank" class="black-text btn-large btn-entreprise-contact" id="btn-catalogue-entreprise" href="{{ entreprise.page.contact.catalogue }}">
                        <div class="inner">Catalogue</div>
                    </a> {{/if}}<br><br>{{#if entreprise.page.contact.facebook }}
                    <a class="btn-entreprise-contact" target="_blank" href="{{ entreprise.page.contact.facebook }}"><img src="../images/FB_Logo__blue.png" alt="logo facebook"></a> {{/if}} {{#if entreprise.page.contact.twitter }}
                    <a class="btn-entreprise-contact" target="_blank" href="{{ entreprise.page.contact.twitter }}"><img src="../images/Twitter_Logo_WhiteOnBlue.png" alt="logo twitter"></a> {{/if}} {{#if entreprise.page.contact.instagram }}
                    <a class="btn-entreprise-contact" target="_blank" href="{{ entreprise.page.contact.instagram }}"><img src="../images/Instagram_Logo.png" alt="logo instagram"></a> {{/if}}
                </div>
            </div>
        </div>
        {{/if}}{{#if entreprise.page.schedule}}
        <div class="col s12 m6">
            <div class="center card">
                <div class="card-content">
                    <span class="card-title entreprisePage">Horaires</span>
                    <p>{{{breaklines entreprise.page.schedule }}}</p>
                </div>
            </div>
        </div>
        {{/if}} {{#if entreprise.page.contact.telephone}}
        <div class="col s12 m6">
            <div class="center card">
                <div class="card-content">
                    <span class="card-title entreprisePage">Téléphone</span>
                    <div class="num-tel-entreprise">{{ entreprise.page.contact.telephone }}</div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</div>
{{#if entreprise.rightIndicator }} {{#if entreprise.leftIndicator }}
<div class="container">
    <div class="row">
        <div class="col s12 m12 center">
            <h4>Carte Interactive</h4>
            <div class="cd-interest-wrapper">
                <img src="/images/map/borealmap.jpg" alt="Centre boréal parc">
                <ul>
                    <li class="cd-single-point" style="top:{{ entreprise.rightIndicator }}%; left:{{ entreprise.leftIndicator }}%">
                        <a href="#" style='color:#26a69a'><i class="material-icons pointeur-carte" style="font-size:44px;">place</i></a>
                        <div class="cd-more-info cd-top">
                            <img src="/images/logo/{{ entreprise.logo }}" style="max-height:120px;max-width:140px;padding:8px">
                            <h2>{{ entreprise.companyName }}</h2>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{/if}} {{/if}} {{#if entreprise.page.pjaunes}}
<div class="container">
    <div class="row">
        <div class="col m6 s12"><a href="/" class="hoverable waves-effect waves-light btn-large" style="margin-top:0.5rem;background:#91457e"><i class="material-icons left">arrow_back</i>Retour à la page d'accueil</a></div>
        <div class="col m5 s12">
            <div class="center card yellow accent-3">
                <div class="card-content">
                    <div class="row">
                        <span class="card-title white-text" style="font-weight:500">Pages Jaunes</span>
                        <div class="hide-on-small-only">
                            <div class="col s4"><img src="../images/logo_pagesjaunes__6868d0.png" class="right responsive-img" alt="logo pagesjaunes"></div>
                        </div>
                        <div class="col s12 m8">
                            <a target="_blank" class="left btn-large white black-text hoverable truncate" href="{{ entreprise.page.pjaunes }}">Donner votre avis</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/if}} {{/if}}{{#unless entreprise.isAdherent}}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h4 class="center">Cette entreprise n'adhère pas encore à l'association Boréal-Parc</h4>
        </div>
    </div>
</div>
{{#if entreprise.rightIndicator }} {{#if entreprise.leftIndicator }}
<div class="container">
    <div class="row">
        <div class="col s12 m12 center">
            <h4>Carte Interactive</h4>
            <div class="cd-interest-wrapper">
                <img src="/images/map/borealmap.jpg" alt="Centre boréal parc">
                <ul>
                    <li class="cd-single-point" style="top:{{ entreprise.rightIndicator }}%; left:{{ entreprise.leftIndicator }}%">
                        <a href="#" style='color:#26a69a'><i class="material-icons pointeur-carte" style="font-size:44px;">place</i></a>
                        <div class="cd-more-info cd-top">
                            <img src="/images/logo/{{ entreprise.logo }}" style="max-height:120px;max-width:140px;padding:8px">
                            <h2>{{ entreprise.companyName }}</h2>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{/if}} {{/if}} {{/unless}}

{{#if entreprise.promotion}}
<div class="container">
    <div class="row">
        <div class="col s12 center">
            <h4>Les Promotions du moment</h4>
        </div>
    </div>
</div>
{{/if}}

{{#each entreprise.promotion}}
<div class="container">
    <div class="row">
        <div class="col s12 center">
            <div class="center card">
                <div class="card-content">
                    <span class="card-title entreprisePage">{{this.title}}</span>
                    <div class="card-image left">
                        <img src="/images{{ this.picture }}">
                    </div>
                    <p>{{{ breaklines this.description }}}</p> </br>
                </div>
                <div class="card action">
                    <p>Date de début : {{datePromoFormat this.startDate}} &nbsp &nbsp &nbsp &nbsp   Date de fin : {{datePromoFormat this.endDate}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}

{{#if entreprise.emploi}}
<div class="container">
    <div class="row">
        <div class="col s12 center">
            <h4>Nos offres d'emploi</h4>
        </div>
    </div>
</div>
{{/if}}

{{#each entreprise.emploi}}
<div class="container">
    <div class="row">
        <div class="col s12 center">
            <div class="center card">
                <div class="card-content">
                    <span class="card-title entreprisePage">{{this.title}}</span>
                    <div class="card-image left">
                        <img src="/images{{ this.picture }}">
                    </div>
                    <p>{{{ breaklines this.description }}}</p> </br>
                </div>
                <div class="card action">
                    <p>Poste recherché : {{this.poste}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}


 {{> page/footer}}{{> script/full}}
