<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <div class="row center">
                <img src="/images/boreal_logo.png" alt="Logo boréal">
            </div>
            <div class="row center">
                <a href="#brands" class="btn-large waves-effect waves-light teal darken-1">Découvrir nos différentes enseignes</a>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="/images/boreal_back.png" alt="Centre boréal parc"></div>
</div>
<div class="container">
    <div class="section">
        {{# if success }} {{> script/full }}
        <script>
            Materialize.toast('<i class="material-icons">verified_user</i>Vous êtes maintenant inscrit à la newsletter', 4000);

        </script>
        {{/if}}
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12">
                <h5 class="center">Les Commerces et services d’Arras Sud</h5>
                <p id="texte-presentation-index"></p>
            </div>
        </div>
    </div>
    
    <div class="row center">
                <a href="./promotion/" class="btn-large waves-effect waves-light teal lighten-1">Découvrir nos offres commerciales</a>
    </div>

    <div class="row center">
                <a href="./emploi/" class="btn-large waves-effect waves-light teal lighten-1">Découvrir nos offres d'emplois</a>
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col s12 center">
            <h4>Carte Interactive</h4>
            <div class="cd-interest-wrapper">
                <img src="/images/map/borealmap.jpg" alt="Centre boréal parc">
                <ul>
                    {{#each entreprise}} {{#if this.rightIndicator }} {{#if this.leftIndicator }}
                    <li class="cd-single-point" style="top:{{ this.rightIndicator }}%; left:{{ this.leftIndicator }}%">
                        <a href="./entreprise/{{ this.companyNameSlug }}" style='color:#26a69a'><i class="material-icons pointeur-carte pointeur-promotion" style="font-size:44px;">place</i></a>
                        <div class="cd-more-info cd-top">
                            <img src="/images/logo/{{ this.logo }}" style="max-height:100px;max-width:100px;padding:8px">
                            <h2>{{ this.companyName }}</h2>
                        </div>
                    </li>
                    {{/if}} {{/if}} {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div id="brands" class="container scrollspy">
        <div class="row">
            <div class="col s12 center">
                <h4>Les différentes enseignes</h4>
                <div class="row">
                    {{#each entreprise}} {{#if isAdherent}}
                    <div class="fix col">
                        <div class="card hoverable card-acc" onclick="javascript:location.href='./entreprise/{{ this.companyNameSlug }}'">
                            <div class="card-image">
                                <img src="/images/logo/{{ this.logo }}" style="max-width:100px;max-height:100px">
                            </div>
                            <div class="card-content">
                                <span class="card-title mainPage">{{ this.companyName }}</span>
                                <a id="brands-btn" class="teal waves-effect waves-light btn more-info-button" href="./entreprise/{{ this.companyNameSlug }}">Découvrir</a>
                            </div>
                        </div>
                    </div>
                    {{/if}} {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
{{> page/footer}} {{> script/full}}
