<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <div class="row center">
                <img src="/images/boreal_logo.png" alt="Logo boréal">
            </div>
            <div class="row center">
                <a href="#brands" class="btn-large waves-effect waves-light teal lighten-1">Découvrir nos différentes enseignes</a>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="/images/boreal_back.webp" alt="Centre boréal parc"></div>
</div>
<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12">
                <h5 class="center">Les Commerces et services d’Arras Sud.</h5>
                <p class="light">
                    Vous trouverez à Boréal Parc autour de l’hypermarché Market sur … Hectares de nombreux commerces. Des restaurants (Poivre Rouge, l’étoile d’Or Asiatique, Mc Donald’s et Subway), de l’automobile (vente, entretien, réparation, lavage et contrôle technique), de la vente et réparation d’ordinateurs, de l’équipement de la maison (chauffage, portes et fenêtre, cuisine équipée, meubles, décoration et électroménager), de l’habillement (sport et outlet), du bricolage, du jardinage, des commerces traditionnels (cordonnerie, opticien et coiffeur) et un centre équestre.</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 center">
            <h4>Carte Interactive</h4>
            <div class="cd-interest-wrapper">
                <img src="/images/map/borealmap.jpg" alt="Centre boréal parc">
                <ul>
                    {{#each entreprise}} {{#if this.rightIndicator }} {{#if this.leftIndicator }}
                    <li class="cd-single-point" style="top:{{ this.rightIndicator }}%; left:{{ this.leftIndicator }}%">
                        <a href="./entreprise/{{ this.companyNameSlug }}"><i class="material-icons pointeur-carte" style="font-size:44px;">place</i></a>
                        <div class="cd-more-info cd-top">
                            <h2>{{ this.companyName }}</h2>
                        </div>
                    </li>
                    {{/if}} {{/if}} {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div id="brands" class="container scrollspy">
        <div class="row">
            <div class="col s12 center">
                <h4>Les différentes enseignes</h4>
                <div class="row">
                    {{#each entreprise}}
                    <div class="fix col">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="/images/logo/{{ this.logo }}">
                            </div>
                            <div class="card-content">
                                <span class="card-title">{{ this.companyName }}</span>
                                <a class="waves-effect waves-light btn more-info-button" href="./entreprise/{{ this.companyNameSlug }}">Découvrir</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
{{> page/footer}} {{> script/full}}
