<div class="container">
    <div class="row">
        <div class="col s12">
            <a href="/dashboard" class="grey lighten-1 waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Retour</a>
        </div>
        {{# if success }}
            <div class="center admin-form-ok">
                <h5><i class="material-icons">verified_user</i> La promotion a bien été enregistrée</h5>
            </div>
        {{ else }}
            {{# if errors }}
            <div class="center admin-form-wrong">
                <h5><i class="material-icons">close</i> Erreur: la promotion n'a pas été enregistrée</h5>
                <ul>
                    {{# each errors }}
                        <li>{{ this.msg }}</li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}
        {{/if}}
<!--
        <form action="/dashboard/creation-promotion/picture" method="post" enctype="multipart/form-data" class="col s12">
            {{# if this.item.picture }}
            <div class="row center">
                <div class="file-field input-field col s12">
                    <img src="/images/promotion/{{ this.item.picture }}" style="max-height:250px">
                </div>
            </div>
            {{/if}}
            <div class="row">
                <input id="id" type="hidden" name="id" value="{{ item._id }}">
                <input id="id" type="hidden" name="companyNameSlug" value="{{ item.companyNameSlug }}">
                <div class="file-field input-field col s6">

                    <div class="indigo lighten btn">
                        <span>Image de la promotion</span>
                        <input name="picture" type="file" onclick="return confirm('La dimension minimale doit être de 250 x 250');">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <div class="input-field col s6">
                    <button class="indigo lighten btn waves-effect waves-light" type="submit" name="action">Enregistrer l'image
                    <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
-->
        <form action="/dashboard/creation-promotion" method="post" class="col s12">
            <div class="row">
                <div class="input-field col m12 l6">
                    <input id="title" type="text" name="title" class="validate">
                    <label for="title">Titre de la promotion:</label>
                </div>
                <div class="input-field col m12 l6">
                    <input id="description" type="text" name="description" class="validate">
                    <label for="description">Description de la promotion:</label>
                </div>
                <div class="input-field col m12 l6">
                    <label for="startDate">Date de début de la promotion:</label> </br>
                    <input id="startDate" type="date" name="startDate" class="validate">
                </div>
                <div class="input-field col m12 l6">
                    <label for="endDate">Date de fin de la promotion:</label> </br>
                    <input id="endDate" type="date" name="endDate" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <button class="orange lighten-1 btn waves-effect waves-light" type="submit" name="action">Créer la promotion
                    <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{{> script/basic}}